

#footer{
    width: 100%;
    margin: auto;
    background-color: #c8d1e2;
}


#bot3 {
    margin: 0;
    padding: 5% 5%;
  }
  #b3first {
    display: flex;
  }
  #feat {
    display: flex;
    flex: 3;
  }
  #feat > div {
    flex-basis: 100%;
  }
  #b3first p {
    color: rgb(79, 88, 94);
    line-height: 1.1;
    font-size: 16px;
    font-weight: 400;
  }
  span > img {
    height: 2rem;
    margin: 0.5rem;
  }
  #b3sec {
    display: flex;
    flex-basis: auto;
  }
  #pay {
    flex: 3;
  }
  #pay1{
    padding-top: 10px;
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    color: #30363c;
    font-family: sans-serif;

  }
  #copy {
    padding-top: 4rem;
    margin-right: 100px;
    text-align: right;
    flex: 1;
  }
  #social {
    margin-left: 10px;
    flex: 1;
  }
  #social>h4{
    margin-left: 15px;
  }
  #social > img {
    width: 40px;
    padding: 5px;
    border-radius: 22px;
    margin: 0.75rem;
  }
  #social > img:hover {
    transform: scale(1.2);
  }

  #feat>div> p {
    padding-bottom: 7px;
    margin-top: 20px;
  }
  #feat h4 {
    padding-top: 10px;
    margin-top: 20px;
    font-weight: 700;
    color: #30363c;
    font-family: sans-serif;
  }
  #feat p:hover {
    color: rgb(16, 132, 126);
  }
  
  #social > img:hover {
    transform: scale(1.2);
  }
  #pay > span > img {
    height: 2rem;
  }




  #mob {
    width: 70%;
    margin: auto;
    display: flex;
  }
  #mob .mobimg img {
    width: 240px;
    height: 420px;
    padding-right: 10px;
    margin-right: 100px;
  }
  .app {
    width: 400px;
  }
  #txt {
    margin-top: 20px;
    font-size: 20px;
    color: #4f585e;
    margin-left: 2.5%;
    line-height: 1.25;
    font-weight: 400;
  }
  .logflx {
    display: flex;
    margin-top: 30px;
  }
  .log {
    background-color: #4f585e;
    color: white;
    min-width: 16rem;
    margin: 2.5%;
    padding: 12px 15px;
    border-radius: 5px;
  }
  .log:hover {
    background-color: rgb(75, 75, 75);
  }
  .log > img {
    width: 25px;
    float: left;
  }
  .log > p {
    float: left;
    margin-left: 15px;
    margin-top: 0;
    font-size: 14px;
    padding-top: 8px;
    letter-spacing: -0.3px;
  }

  #bot1 {
    width: 70%;
    margin : auto;
    display: flex;
    margin-left: 15%;
  }
  #bot1 > div {
    flex-basis: 30.3%;
    margin: 1.5%;
    padding: 40px 24px;
  }
  #bot1 > div > p {
    color: #8897a2;
    line-height: 1.2;
    max-width: 220px;
    font-size: 17px;
  }