
 *{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: sans-serif
    /* box-si */
 }

 #count {
  position: absolute;
  top: -4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f47779;
  border: 0.5px solid #fff;
  border-radius: 8px;
  width: 16px;
  height: 16px;
  color: #fff;
  font-weight: 700;
  font-size: 10px;
  line-height: 16px;
}


 #navbar{
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 20px ;
    font-family: sans-serif;
    top: 0;
    position:sticky;
    background-color: white;
    width: 100%;
    margin-top: 25px;
    
}
#pin{
    display: block;
    /* display: inline-block; */

}
#navbar>img{
    margin-left: 80px;
}

#search{
    border:1px solid grey;
  align-items: center;
    width: 450px;
    font-size: 14px;
    border-radius: 30px;
    margin-left: 30px;
    justify-content: space-around;
    height: 60px;
    margin-left: 50px;

}
#search>img{
    margin-left: 20px;
    margin-top: 10px;
    width: 25px;
    height: 25px;
}
#search>input{
    margin-left: 20px;
    /* margin-top: 8px; */
    background: transparent;
    border: 0;
    outline: 0;
    width: 200px;
    margin-top: 0;
    font-size: 20px;
    text-align: center;
    padding-top: 0;
    /* border: 1px solid green; */

}
#search>button{
    width: 130px;
    height:50px;
    margin-bottom: 5px;
    border-radius: 30px;
    background-color: #108472;
    color: white;
    font-size: 20px;
    border: none;
    margin-left: 45px;
    margin-top: 5px;
}
#login{
    text-decoration: none;
    gap: 5px;
    color: black;
    margin-left: 15px;

}

#login_div,#offer_div,#cart_main{
    display: flex;
    margin-left: 15px;
   
    
}
#person_img{
    height: 30px;
    width: 30px;
   
     margin-top: 13px;
    outline:none; 
    
}
#text{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 17px;
 }

#showmore{
width: 10px;
height: 10px;

}
#offer_img{
height: 30px;
    width: 30px;
     margin-top: 13px;
    outline:none; 
}
#offer{
text-decoration: none;
gap: 5px;
color: #000;

}
#logo{
  cursor:pointer
}
#offer_txt{
font-size: 20px;
    margin-left: 10px;
    margin-top: 17px;

}
#cart_img{
height: 30px;
    width: 30px;
     margin-top: 13px;
    outline:none; 
}
#anchor_tags a{
text-decoration: none;
color: #000;
text-align: center;
margin-top: 8px;

}
#anchor_tags{
display: flex;
justify-content: center;
margin-top: 0%;
gap: 35px;
background-color: lightblue;
font-size: 20px;
font-family: sans-serif;
position: sticky;
top: 62px;


}

#n{
    margin-top: 50px;
    margin-left: 15%;
}
#b{
    margin-top: 20px;
    border: 1px solid #108472;
    width: 53%;
    height: 230px;
    margin-left: 15%;
    background-color: #108472;
    color: whitesmoke;
    border-radius: 15px;
}
.flat{
    display: inline-block;
    margin: 25px;
    margin-left: 30px;
}
#sn{
    margin: 15px;
    margin-left: 30px;
}
#sbar{
    margin: 10px;
    margin-left: 30px;
    /* height: 50px; */
    font-size: 20px;
    padding: 15px;
    border: 1px solid gray;
   background-color: whitesmoke;
}
#sbar > input{
    width: 65%;
    font-size: 20px;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}
#sbar > select{
    font-size: 20px;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    color: #108472;
   }

   #pre{
    width: 450px;
    height: 300px;
    /* border: 1px solid; */
    margin-top: 2px;

   }
   #pre > :nth-child(1){
    width: 90%;
    height: 20%;
    margin: auto;
    border:  1px solid gray;
    border-radius: 10px;
    margin-top: 15px;
    text-align: center;
   }
   #pre > :nth-child(2){
    width: 90%;
    height: 75%;
    margin: auto;
    margin-top: 15px;
    border:  1px solid gray;
    border-radius: 10px;
    text-align: center;
   }
   #div2 > div{
      border: 1px solid gray;
      border-radius: 10px;
      width: 80%;
      height: 60px;
      margin: auto;
      text-align: center;
   }

   #mainbox{
    display: flex;
    /* border: 1px dotted; */
    width: 80%;
    margin-left: 13%;
    margin: auto;
    height: auto;
   }
   #mainbox > :nth-child(2){
    margin-left: 100px;
   }
   #mainbox > :nth-child(1){
    margin-left: 50px;
   }
   #jay{
    background-color: #108472;
    color: whitesmoke;
   }
    .cont{
        display: flex;
    }

   .swiper{
    margin-top: 100px;
    /* width: 554px; */
    width: 75%;
    height: 440px;
    margin-bottom: 100px;
   }
   .swiper-slide img{
    width: 100%;
    height: 440px;
    /* margin-left: 1000px; */
    /* margin-right: 50px; */
   }

   /* footer  */

   #enc {
    width: 92%;
  }
  #bot1 {
    width: 70%;
    margin : auto;
    display: flex;
    margin-left: 19%;
  }
  #bot1 > div {
    flex-basis: 30.3%;
    margin: 1.5%;
    padding: 40px 24px;
  }
  #bot1 > div > p {
    color: #8897a2;
    line-height: 1.2;
    max-width: 220px;
    font-size: 17px;
  }
  #mob {
    width: 70%;
    margin: auto;
    display: flex;
    margin-left: 12%;
  }
  #mob .mobimg img {
    width: 240px;
    height: 420px;
    padding-right: 10px;
    margin-right: 100px;
  }
  .app {
    width: 400px;
  }
  #txt {
    margin-top: 20px;
    font-size: 20px;
    color: #4f585e;
    margin-left: 2.5%;
    line-height: 1.25;
    font-weight: 400;
  }
  .logflx {
    display: flex;
    margin-top: 30px;
  }
  .log {
    background-color: #4f585e;
    color: white;
    min-width: 16rem;
    margin: 2.5%;
    padding: 12px 15px;
    border-radius: 5px;
  }
  .log:hover {
    background-color: rgb(75, 75, 75);
  }
  .log > img {
    width: 25px;
    float: left;
  }
  .log > p {
    float: left;
    margin-left: 15px;
    margin-top: 0;
    font-size: 14px;
    padding-top: 8px;
    letter-spacing: -0.3px;
  }
  #bot3 {
    background-color: rgb(244, 247, 251);
    width: 100%;
    margin: 0;
    padding: 5% 5%;
    margin-left: -3%;
  }
  #b3first {
    display: flex;
  }
  #feat {
    display: flex;
    flex: 3;
  }
  #feat > div {
    flex-basis: 100%;
  }
  #b3first p {
    color: rgb(79, 88, 94);
    line-height: 1.1;
    font-size: 16px;
    font-weight: 400;
  }
  span > img {
    height: 2rem;
    margin: 0.5rem;
  }
  #b3sec {
    display: flex;
    flex-basis: auto;
  }
  #pay {
    flex: 3;
  }
  #copy {
    padding-top: 4rem;
  
    text-align: right;
    flex: 1;
  }
  #social {
    margin-left: 20px;
    flex: 1;
  }
  #social > img {
    width: 50px;
    /* background-color: teal; */
    padding: 5px;
    border-radius: 22px;
    margin: 0.75rem;
  }
  #social > img:hover {
    transform: scale(1.2);
  }
  /* #social > iframe {
    width: 100%;
    border: none;
    border-radius: 6px;
    margin-top: 3rem;
  } */
  #feat p {
    padding-bottom: 7px;
  }
  #feat h4 {
    padding-top: 10px;
    font-weight: 700;
  }
  #feat p:hover {
    color: rgb(16, 132, 126);
  }
  
  #social > img:hover {
    transform: scale(1.2);
  }
  #pay > span > img {
    height: 2rem;
  }
